<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="container">
<h1>{{ page.title }}</h1>
  <p>{{ content }}</p>
	<hr/>
</div>

<div class="container">
	<div class="footer">
  			<span class="external">
			<a href=""><i class="fab fa-linkedin"></i> LinkedIn</a>
			<a href=""><i class="fab fa-twitter"></i> Twitter</a>
			<a href=""><i class="ai ai-google-scholar"></i> Google Scholar</a>
			</span>
	</div>
</div>
</body>
</html>
